[[local|localrc]]
enable_service tempest
{% if config.ci.branch != 'juno' and config.ci.branch != 'icehouse' %}
enable_service c-bak
{% endif %}

ADMIN_PASSWORD="{{ config.devstack.password }}"
DATABASE_PASSWORD="{{ config.devstack.password }}"
RABBIT_PASSWORD="{{ config.devstack.password }}"
SERVICE_PASSWORD="{{ config.devstack.password }}"
SERVICE_TOKEN="{{ config.devstack.password }}"
DEST="{{ config.ci.base }}"
CIDIR="{{ config.ci.base }}/{{ config.ci.destination }}"
LOGDIR="{{ config.ci.base }}/{{ config.ci.logs }}"
SCREEN_LOGDIR="{{ config.ci.base }}/{{ config.ci.logs }}"
LOGFILE="{{ config.ci.base }}/{{ config.ci.logs }}/stack.log"
VIRT_DRIVER="libvirt"
ROOTSLEEP="0"
SERVICE_TIMEOUT="600"
IP_VERSION="4"
USE_SCREEN="True"
API_RATE_LIMIT="False"
INSTALL_TEMPEST="True"
CINDER_IMG_CACHE_ENABLED="False"
LOG_COLOR="False"
SYSLOG="True"
USE_SYSTEMD="False"
USE_JOURNAL="False"

NEXENTA_BACKEND_NAME="{{ config.ci.backend }}"
NEXENTA_REPOSITORY="{{ config.nexenta.repository }}"
NEXENTA_DESTINATION="{{ config.ci.base }}/{{ config.nexenta.destination }}"

CI_BRANCH="{{ config.ci.branch }}"
{% for project in config.matrix.project %}
{% set value = namespace(found=none) %}
{% for branch in config.matrix.branch %}
{% if branch.ci == config.ci.branch %}
{% if branch.project == project.name %}
{% set value.found = branch.name %}
{% break %}
{% elif branch.project == 'default' %}
{% set value.found = branch.name %}
{% endif %}
{% endif %}
{% endfor %}
{{ project.option }}="{{ value.found }}"
{% endfor %}
{% set value = namespace(list=[]) %}
{% for instance in config.backend.instances %}
{% if 'manila' in config.ci.backend %}
{% do value.list.append(config.ci.backend ~ loop.index) %}
{% else %}
{% do value.list.append(config.ci.backend ~ ':' ~ config.ci.backend ~ loop.index) %}
{% endif %}
{% endfor %}

{% if 'manila' in config.ci.backend %}
enable_plugin manila git://git.openstack.org/openstack/manila $MANILA_BRANCH
enable_plugin manila-ui git://git.openstack.org/openstack/manila-ui $MANILA_UI_BRANCH
{% if config.ci.branch == 'master' %}
enable_plugin manila-tempest-plugin git://git.openstack.org/openstack/manila-tempest-plugin $MANILA_TEMPEST_PLUGIN_BRANCH
{% endif %}

MANILA_UI_ENABLED="True"
ENABLED_SHARE_PROTOCOLS="{{ config.backend.protocol }}"
SHARE_DRIVER="{{ config.backend.driver }}"
MANILA_SERVICE_VM_FLAVOR_RAM="512"
MANILA_DEFAULT_SHARE_TYPE_EXTRA_SPECS="snapshot_support=True create_share_from_snapshot_support=True revert_to_snapshot_support=True mount_snapshot_support=True"
MANILA_ENABLED_BACKENDS="{{ value.list|join(',') }}"
{% for instance in config.backend.instances %}
MANILA_BACKEND{{ loop.index }}_CONFIG_GROUP_NAME="{{ config.ci.backend }}{{ loop.index }}"
MANILA_SHARE_BACKEND{{ loop.index }}_NAME="{{ config.ci.backend }}{{ loop.index }}"
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_driver_handles_share_servers="False"
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_host="{{ instance.host }}"
{% if config.ci.backend == 'ns5_manila' %}
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_pool="{{ instance.pool }}"
{% else %}
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_volume="{{ instance.pool }}"
{% endif %}
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_nfs_share="{{ instance.dataset }}"
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_thin_provisioning="{{ instance.sparsed }}"
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_user="{{ config.backend.rest.user }}"
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_password="{{ config.backend.rest.password }}"
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_rest_port="{{ config.backend.rest.port }}"
MANILA_OPTGROUP_{{ config.ci.backend }}{{ loop.index }}_nexenta_rest_protocol="{{ config.backend.rest.protocol }}"
{% endfor %}
{% else %}
{% if config.ci.branch == 'master' %}
enable_plugin cinder-tempest-plugin git://git.openstack.org/openstack/cinder-tempest-plugin $CINDER_TEMPEST_PLUGIN_BRANCH
{% endif %}
CINDER_VOLUME_CLEAR="none"
CINDER_ENABLED_BACKENDS="{{ value.list|join(',') }}"
TEMPEST_ENABLED_BACKENDS="{{ value.list|join(',') }}"
TEMPEST_VOLUME_VENDOR="{{ config.backend.vendor }}"
TEMPEST_VOLUME_DRIVER="{{ config.backend.driver }}"
TEMPEST_STORAGE_PROTOCOL="{{ config.backend.protocol }}"

declare -A NEXENTA_DRIVER NEXENTA_HOST
declare -A NEXENTA_REST_USER NEXENTA_REST_PASSWORD
declare -A NEXENTA_REST_HOST NEXENTA_REST_PORT NEXENTA_REST_PROTO
{% if config.ci.backend == 'ned_iscsi' %}
declare -A NEXENTA_ISCSI_CONTAINER NEXENTA_ISCSI_SERVICE
{% else %}
declare -A NEXENTA_POOL NEXENTA_DATASET NEXENTA_SPARSED
{% endif %}
{% for instance in config.backend.instances %}
{% set backend = config.ci.backend ~ loop.index %}

NEXENTA_DRIVER[{{ backend }}]="{{ config.backend.driver }}"
NEXENTA_REST_HOST[{{ backend }}]="{{ config.backend.rest.hosts|join(',') }}"
NEXENTA_REST_PORT[{{ backend }}]="{{ config.backend.rest.port }}"
NEXENTA_REST_PROTO[{{ backend }}]="{{ config.backend.rest.protocol }}"
NEXENTA_REST_USER[{{ backend }}]="{{ config.backend.rest.user }}"
NEXENTA_REST_PASSWORD[{{ backend }}]="{{ config.backend.rest.password }}"
NEXENTA_HOST[{{ backend }}]="{{ instance.host }}"
{% if config.ci.backend == 'ned_iscsi' %}
NEXENTA_ISCSI_CONTAINER[{{ backend }}]="{{ instance.container }}"
NEXENTA_ISCSI_SERVICE[{{ backend }}]="{{ instance.service }}"
{% else %}
NEXENTA_POOL[{{ backend }}]="{{ instance.pool }}"
NEXENTA_DATASET[{{ backend }}]="{{ instance.dataset }}"
NEXENTA_SPARSED[{{ backend }}]="{{ instance.sparsed }}"
NEXENTA_OPTIONS[{{ backend }}]="{{ instance.options }}"
{% endif %}
{% endfor %}
{% endif %}

[[post-config|$CINDER_CONF]]

[DEFAULT]
driver_ssl_cert_verify = False
{% if config.ci.branch != 'juno' and config.ci.branch != 'icehouse' %}
backup_file_size = "134217728"
backup_sha_block_size_bytes = "32768"
backup_driver = "cinder.backup.drivers.nfs"
backup_share = "{{ config.backup.host }}:{{ config.backup.share }}/{{ config.ci.backend }}"
backup_mount_options = "{{ config.backup.options }}"
{% endif %}
