---
- required:
  - branch
  - backend
  - config
- shell: /bin/ksh
- hasync: |
    limit=128
    while ls /opt/HAC/RSF-1/event-queue/*; do
      if (( --limit == 0 )); then
        exit 1
      fi
      sleep 5
    done
...
